<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.jessyan.autosize.demo">

    <application
        android:name="me.jessyan.autosize.demo.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/autosize_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="me.jessyan.autosize.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="me.jessyan.autosize.demo.CustomAdaptActivity"/>
        <activity android:name="me.jessyan.autosize.demo.FragmentHost"/>

        <!-- 如果您项目中的所有页面都只需要以高或宽中的一个作为基准进行适配的话, 那就只需要填写高或宽中的一个设计图尺寸即可 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="640"/>

    </application>

</manifest>