<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.jessyan.autosize">

    <application>
        <provider
            android:name=".InitProvider"
            android:authorities="${applicationId}.init-Provider"
            android:exported="false"/>
    </application>
</manifest>